recursive-include haulage_mgmt *.json
recursive-include haulage_mgmt *.js
recursive-include haulage_mgmt *.py
recursive-include haulage_mgmt *.csv
recursive-include haulage_mgmt/public *
include license.txt
include requirements.txt
